@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
   height: 100%;
   margin: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: auto;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #2a9d8f;
    
}

aside {
    width: 20%;
    margin: auto;
    
    min-height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Change align-items to center */
    padding: 1em;
    width: 80%;
    background-color: #2a9d8f;
    min-height: 100%;
}

.explainer {
    padding: 0 1em;
    color: black;
}


a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color: black;
    margin: auto;
    height: auto;
    text-align: center;
}

h2 {
    font-size: 28px;
}

img {
    width: 200px;
    
}



.player {
    background-color: #f4a261;
    padding: 2em;
    width: 65%;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchBox input {
    border-radius: 8px 0 0 8px;
    border: 0;
    outline: none;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

.searchBox button {
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
}
