@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
   height: 100%;
   margin: 0;
}

body {
   
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #2a9d8f;
    
}


aside {
    
    margin: auto; 
    min-height: 100%;
    overflow: hidden;
    display: none;
}


.explainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    color: black;
    max-width: 65%;
}

.converter {
    align-self: center;
    height: 200px;
    width: 550px;
    background-color: #94d2bd;
    margin: 0 auto;
    border: 5px solid #001219;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr;
}

.playerTable {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
    align-self: center;
}

#input {
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
}

#bbu {
    height: 25px;
    width: 125px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
}

#pound {
    height: 25px;
    width: 125px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
}

#output {
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color: black;
    margin: auto;
    height: auto;
    text-align: center;
}

h2 {
    font-size: 28px;
}

img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }



.player {
    background-color: #f4a261;
    padding: 2em;
    width: 65%;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchBox input {
    border-radius: 8px 0 0 8px;
    border: 0;
    outline: none;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

.searchBox button {
    border-radius: 0 8px 8px 0;
    border: 0;
    height: 36px;
    padding: 4px 16px;
    background-color: white;
}


.datagrid table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 
} 

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #001219; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    width: 50%;
}

.datagrid table td, .datagrid table th { 
    padding: 3px 10px; 
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #001219), color-stop(1, #005F73) );
    background:-moz-linear-gradient( center top, #001219 5%, #005F73 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#001219', endColorstr='#005F73');
    background-color:#001219; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #005F73; 
} 

.datagrid table thead th:first-child { 
    border: none; 
}

.datagrid table tbody td { 
    color: #00496B; 
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal; 
}

.datagrid table tbody .alt td { 
    background: #E1EEF4; 
    color: #00496B; 
}

.datagrid table tbody td:first-child {
    border-left: none; 
}

.datagrid table tbody tr:last-child td { 
    border-bottom: none;
}

@media only screen and (min-width: 770px) {
    body {
        display: flex;
        flex-flow: column wrap;
    
    }
    
    aside {
        display: block;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
        padding: 2em;
        width: 80%;
        background-color: #2a9d8f;
        min-height: 100%;
    }

    header {
   
    display: none;
    }
}

@media only screen and (max-width: 769px) {
    aside {
        display: none;
    }

    main {
        width: 100%;
        padding: 0;
        margin: auto;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #2a9d8f;
    }

    header {
        display: flex;
        
    }

    header > ul {
        list-style-type: none;
        margin: 2em;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        align-content: space-between;
        overflow: hidden;
    }

    header > img {
        margin: 1em;
        width: 15%;
        height: 15%;
    }

    .converter {
        align-self: center;
        height: 200px;
        width: 75%;
        background-color: #94d2bd;
        margin: 0 auto;
        border: 5px solid #001219;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 50px 1fr;
    }

#input {
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
}

#bbu {
    height: 25px;
    width: 125px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
}

#pound {
    height: 25px;
    width: 125px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
}

#output {
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
}
}

